name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: branch
        run: |
          echo ${{ github.head_ref }}
          echo ${{ github.base_ref }}
      - name: Checkout source code
        uses: actions/checkout@v3

      # Uncomment these lines if you want to set up JDK and use Gradle to build.
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2.9.0
        with:
          # arguments: build
          run: ./gradlew clean build
      
      - name: ls
        run: echo $(ls)
      - name: ls
        run: echo $(ls src)

