# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request_target:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    # - name: Set up JDK 17
    #   uses: actions/setup-java@v3
    #   with:
    #     java-version: '17'
    #     distribution: 'corretto'
    # - name: Build with Gradle
    #   uses: gradle/gradle-build-action@842c587ad8aa4c68eeba24c396e15af4c2e9f30a #2.9.0
    #   with:
    #     arguments: build
    - name: ls
      run: exit 1
    - name: if fail
      uses: actions/github-script@0.2.0
      with:
        github-token: ${{github.token}} 
        script: |
            const ref = "${{github.ref}}"
            const pull_number = ${{ github.event.pull_request.number }}
            await github.pulls.createReview({
              ...context.repo,
              pull_number,
              body:"테스트코드를 다시 확인해주세요. ",
              event: "REQUEST_CHANGES"
            })
            await github.pulls.update({
              ...context.repo,
              pull_number,
              state: "closed"
            })
      if: failure()                    
    
    # - name: if fail
    #   uses: actions/github-script@0.2.0
    #   with:
    #     github-token: ${{  secrets.GITHUB_TOKEN  }}
    #     script: |                       
    #         const ref = "${{github.ref}}"
    #         const pull_number = Number(ref.split("/")[2])
    #         await github.pulls.createReview({
    #           ...context.repo,
    #           pull_number,
    #           body:"테스트코드를 다시 확인해주세요. ",
    #           event: "REQUEST_CHANGES"
    #         })
    #         await github.pulls.update({
    #           ...context.repo,
    #           pull_number,
    #           state: "closed"
    #         })
    #   if: failure()
    # - name: new Discordbot
    #   uses: sarisia/actions-status-discord@v1.13.0
    #   with:
        # webhook: ${{ secrets.DISCORD_WEBHOOK }}
      #   content: ${{ github.actor == 'marinesnow34' && '<@392607023495118862>' }}
      # if: always()
